
*{
    font-size: 16px;
   
}

body, html{
    height: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

/*Navbar*/

.navbar{
    background-color: rgb(53, 58, 64);
   

}

.nav-link{
    color: rgb(178, 177, 177);
}

.navBlanco{
    color: white;
}

.navVerde{
    color: rgb(45,138,68);
}

/*Imagen fondo*/

.fondo{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(ba1.jpg) no-repeat center;
    background-size:cover;
    height: 100vh;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
    
    
    
    
}


.textoFoto{
    margin-left: 50em ;
    margin-top: 25em;
    width: 30rem;
    text-align: right;
    display: block;
}

@media only screen and (max-width: 1300px) {
    /* For mobile phones: */
    .textoFoto{
      position: absolute ;
      margin-top: 10em;
      margin-left: 0em ;
      text-align: center;    
      
    }
}

.titulo{
    font-size: x-large;
}

.botonesFoto{
    margin-top: 0.5rem;

}


/*Tarjetas x3*/

.conoce{
    font-size: 0.8rem;
}

.oradores{
    font-size: 2rem;
    font-weight: bold;
}

.card{
    margin-left: 0rem;
}

/*Honolulu*/

.honoluluImagen{
   margin: 0;
   padding: 0;
}

.honoluluTexto{
    background-color: rgb(53, 58, 64);
    color: white;
    
}


.infoHonolulu{
    margin-top: 1rem;
}

/*Formulario*/

form{
    margin: 0 auto; 
}

/*Navegador footer*/
.navFooter{
    height: 4rem;
    background-image: linear-gradient(to right, rgb(28, 56, 70) , rgb(29, 82, 113));;
    color: white;

}

.navFooter a{
    text-decoration: none;
    color: white;
}

.navFooter a:hover{
    color: darkgrey;
}